<HeadContent>
    <style>
        :root {
            --board-bg: #8BC34A; /* the color of the board (light green) */
            --player1: #E53935; /* Player 1's piece color (red) */
            --player2: #3F51B5; /* Player 2's piece color (indigo) */
        }
    </style>
</HeadContent>

<div>...</div>
<div>
    <div class="board">
        @for (var i = 0; i < 25; i++)
        {
            <span class="container">
                <span></span>
            </span>
        }
    </div>
</div>


@code {

}
